body {
    /*    width: 1920px;*/
    margin: 0;
    max-width: 1920px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 100%;
    background: #0070af;
    position: relative;
    z-index: 22;
}

.navBar {
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: left;
    padding: 0 0 0 48px;
    color: #fff;
}

.logo__h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
}
.menu-box{
    height: 90px;
}
.menu-box-ink{
    display: flex;
    justify-content: space-between; 
    padding: 25px 48px 25px 48px;
}

.menu-box-ink__a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    position: relative;
}

.menu-box-ink__a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;

}

.menu-box-ink__a:active {
    color: #f00;
}

/*End of header*/

.firstInfoBlock {
    display: flex;
    margin: 50px 48px 0 48px;
}

.twoInfoBlock {
    display: flex;
    margin: 50px 48px 50px 48px;
}

.firstInfoBlockImg {
    text-align: left;
    margin: auto;
}

.firstInfoBlockImg img {
    transition-duration: 3s;
    transition-delay: 3s;
    animation: fade-in 5s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    /*50%{  opacity: 0.5; } */
    100% {
        opacity: 1;
    }
}

.twoInfoBlockImg img {
    transition-duration: 3s;
    transition-delay: 3s;
    animation: fade-in2 5s linear;
}

@keyframes fade-in2 {
    0% {
        opacity: 0;
    }

    /*50%{  opacity: 0.5; } */
    100% {
        opacity: 1;
    }
}

.twoInfoBlockText {
    flex-basis: 80%;
    text-align: justify;
    padding: 0 48px 0 0;
}

.twoInfoBlockText h3 {
    font-size: 32px;
    font-family: Open Sans;
    line-height: 32px;
    margin: 0;
}

.twoInfoBlockText p {
    font-size: 16px;
    font-style: ;
    line-height: 28px;
}

.twoInfoBlockImg {
    text-align: right;
    margin: auto;
}

.firstInfoBlockText {
    flex-basis: 80%;
    text-align: justify;
    padding: 0 0 0 48px;
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation: exampleone 2s linear;
}

@keyframes exampleone {
    0% {
        left: 300px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.firstInfoBlockText h3 {
    font-size: 32px;
    font-family: Open Sans;
    line-height: 32px;
    margin: 0;
}

.firstInfoBlockText p {
    font-size: 16px;
    font-style: ;
    line-height: 28px;
}

.twoInfoBlockText {
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation: example 2s linear;
}

@keyframes example {
    0% {
        left: -300px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}



/*footer start*/
footer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #0070af;
    position: relative;
    z-index: 22;
    padding: 24px 0 24px 0;
}

.footerInfo {
    display: flex;
    margin: 0;
}

.footerInfo p {
    color: #fff;
    margin: 0;
    padding-left: 16px;
}

.footerInfo p:nth-child(2) {
    padding-top: 8px;
    padding-bottom: 8px;
}

.datImp a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.datImp a:nth-child(2) {
    margin-left: 24px;
}

.contactLink {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding: 0 48px 0 0;
    text-align: left;
}

.contactLink span {
    font-size: 16px;
    padding: 16px 16px 16px 0;
}

.datImp {
    flex-basis: 75%;
    padding: 0 0 0 48px;
}

