 @media (min-width: 1124px) and (max-width: 1510px) {
     .sliderArowControl {
         padding-top: 19%;
     }

     .contactLink {
         flex-basis: 35%;
     }
 }

 @media (min-width: 1024px) and (max-width: 1123px) {
     .sliderArowControl {
         padding-top: 21%;
     }

     .contactLink {
         flex-basis: 50%;
     }

     .menu-box-ink__a {
         font-size: 22px;
     }

 }

 @media (min-width: 700px) and (max-width: 1023px) {
     .sliderArowControl {
         padding-top: 25%;
     }

     .navBarLink {
         display: none;
     }

     .hidenBox {
         display: block;
     }

     header ul {
         margin: 5px;
     }

     .logo {
         text-align: center;
         padding: 0;
     }

     .firstInfoBlockText {
         flex-basis: 100%;
         text-align: justify;
         padding: 0;
     }

     .twoInfoBlockText {
         flex-basis: 100%;
         text-align: justify;
         padding: 0;
     }

     .hidenBoxLink {
         text-align: left;
         margin: 0;
     }

     header {
         height: 100px;
     }

     .logo h1 {
         font-size: 40px;
     }

     .sliderArowControl {
         padding-top: 32%;
     }

     .slider__control--right {
         left: 90%;
     }

     .slide__content {
         left: 41.5%;
     }

     .firstInfoBlock {
         flex-wrap: wrap;
     }

     .twoInfoBlock {
         flex-wrap: wrap-reverse;
     }

     footer {
         flex-wrap: wrap;
         */ justify-content: center;
         flex-direction: column;
         padding: 0;
     }

     .datImp {
         flex-basis: 100%;
         padding: 0;
     }

     .contactLink {
         padding: 0;
         align-items: center;
     }

     .footerInfo {

         margin: 0;
     }

     /*Responsive Hamburger Menu*/
     #menu-button {
         position: fixed;
         top: 0px;
         left: -1px;
         display: block;
         width: 100px;
         height: 100px;
         background: #0070af;
         border-radius: 5px;
         z-index: 200;
     }

     #menu-button:after {
         position: absolute;
         content: "☰";
         font-size: 60px;
         color: #fff;
         width: 100px;
         height: 64px;
         text-align: center;
         line-height: 95px;
     }

     #menu-button.on:after {
         content: "x";
     }

     #overlay {
         display: none;
         height: 100vh;
         width: 100%;
         position: fixed;
         z-index: 99;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0.4);
         bottom: 0;
         right: 0;
         left: 0;
     }

     #overlay.open {
         display: block;
     }

     #hamburger-menu {
         position: fixed;
         top: 100px;
         left: 100px;
         z-index: 101;
         overflow: hidden;
         border-radius: 5px;
         width: 0;
         height: 0;
     }

     #hamburger-menu nav {
         padding: 10px;
         z-index: 101;
         overflow-y: hidden;
         overflow-x: hidden;
         background-color: #0070af;
         border-radius: 10px;
         height: 400px;
         display: flex;
        flex-direction: column;
     }

     #hamburger-menu nav a {
         display: block;
         padding: 10px;
         /*height: 1em;*/
         color: #fff;
         font-size: 20px;
         line-height: 20px;
         text-decoration: none;
         overflow: hidden;
     }

 }

 @media (min-width: 600px) and (max-width: 699px) {
     header {
         height: 100px;
     }

     header ul {
         margin: 5px;
     }

     .logo h1 {
         font-size: 36px;
     }

     .navBarLink {
         display: none;
     }

     .hidenBox {
         display: block;
     }

     .logo {
         text-align: center;
         padding: 0;
     }

     .firstInfoBlockText {
         flex-basis: 100%;
         text-align: justify;
         padding: 0;
     }

     .twoInfoBlockText {
         flex-basis: 100%;
         text-align: justify;
         padding: 0;
     }

     .sliderArowControl {
         padding-top: 32%;
     }

     .slider__control--right {
         left: 90%;
     }

     .slide__content {
         left: 41.5%;
     }

     .firstInfoBlock {
         flex-wrap: wrap;
     }

     .twoInfoBlock {
         flex-wrap: wrap-reverse;
     }

     footer {
         flex-wrap: wrap;
         */ justify-content: center;
         flex-direction: column;
         padding: 0;
     }

     .datImp {
         flex-basis: 100%;
         padding: 0;
     }

     .contactLink {
         padding: 0;
         align-items: center;
     }

     .footerInfo {

         margin: 0;
     }
     /*Responsive Hamburger Menu*/
     #menu-button {
         position: fixed;
         top: 0px;
         left: -1px;
         display: block;
         width: 100px;
         height: 100px;
         background: #0070af;
         border-radius: 5px;
         z-index: 200;
     }

     #menu-button:after {
         position: absolute;
         content: "☰";
         font-size: 60px;
         color: #fff;
         width: 100px;
         height: 64px;
         text-align: center;
         line-height: 95px;
     }

     #menu-button.on:after {
         content: "x";
     }

     #overlay {
         display: none;
         height: 100vh;
         width: 100%;
         position: fixed;
         z-index: 99;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0.4);
         bottom: 0;
         right: 0;
         left: 0;
     }

     #overlay.open {
         display: block;
     }

     #hamburger-menu {
         position: fixed;
         top: 100px;
         left: 100px;
         z-index: 101;
         overflow: hidden;
         border-radius: 5px;
         width: 0;
         height: 0;
     }

     #hamburger-menu nav {
         padding: 10px;
         z-index: 101;
         overflow-y: hidden;
         overflow-x: hidden;
         background-color: #0070af;
         border-radius: 10px;
         height: 400px;
         display: flex;
        flex-direction: column;
     }

     #hamburger-menu nav a {
         display: block;
         padding: 10px;
         /*height: 1em;*/
         color: #fff;
         font-size: 20px;
         line-height: 20px;
         text-decoration: none;
         overflow: hidden;
     }

 }

 @media (min-width: 320px) and (max-width: 599px) {
     header {
         height: 100px;
     }

     header ul {
         margin: 5px;
     }

     .logo h1 {
         font-size: 24px;
         padding-left: 100px;
     }

     .navBarLink {
         display: none;
     }

     .hidenBox {
         display: block;
     }

     .sliderContainer {
         display: none;
     }

     .logo {
         text-align: center;
         padding: 0;
     }

     .firstInfoBlockText {
         flex-basis: 100%;
         text-align: justify;
         padding: 0;
     }

     .twoInfoBlockText {
         flex-basis: 100%;
         text-align: justify;
         padding: 0;
     }

     .sliderArowControl {
         padding-top: 32%;
     }

     .slider__control--right {
         left: 90%;
     }

     .slide__content {
         left: 41.5%;
     }

     .firstInfoBlock {
         flex-wrap: wrap;
         margin: 50px 10px 0 10px;
     }

     .firstInfoBlockText p {
         line-height: 24px;
     }

     .twoInfoBlock {
         flex-wrap: wrap-reverse;
         margin: 50px 10px 0 10px;
     }

     .twoInfoBlockText p {
         line-height: 24px;
     }

     footer {
         flex-wrap: wrap;
         */ justify-content: center;
         flex-direction: column;
         padding: 0;
     }

     .datImp {
         flex-basis: 100%;
         padding: 0;
         padding-top: 10px;
     }

     .contactLink {
         padding: 0;
         align-items: center;
     }

     .footerInfo {

         margin: 0;
     }

     .firstInfoBlockImg img {
         max-width: 100%
     }

     .twoInfoBlockImg img {
         max-width: 100%
     }

     .footerInfo p {
         font-size: 13px;
         line-height: 26px;
     }

     /*Responsive Hamburger Menu*/
     #menu-button {
         position: fixed;
         top: 0px;
         left: -1px;
         display: block;
         width: 100px;
         height: 100px;
         background: #0070af;
         border-radius: 5px;
         z-index: 200;
     }

     #menu-button:after {
         position: absolute;
         content: "☰";
         font-size: 60px;
         color: #fff;
         width: 100px;
         height: 64px;
         text-align: center;
         line-height: 95px;
     }

     #menu-button.on:after {
         content: "x";
     }

     #overlay {
         display: none;
         height: 100vh;
         width: 100%;
         position: fixed;
         z-index: 99;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0.4);
         bottom: 0;
         right: 0;
         left: 0;
     }

     #overlay.open {
         display: block;
     }

     #hamburger-menu {
         position: fixed;
         top: 100px;
         left: 12px;
         z-index: 101;
         overflow: hidden;
         border-radius: 5px;
         width: 0;
         height: 0;
     }

     #hamburger-menu nav {
         padding: 10px;
         z-index: 101;
         overflow-y: hidden;
         overflow-x: hidden;
         background-color: #0070af;
         border-radius: 10px;
         height: 400px;
         display: flex;
        flex-direction: column;
     }

     #hamburger-menu nav a {
         display: block;
         padding: 10px;
         /*height: 1em;*/
         color: #fff;
         font-size: 20px;
         line-height: 20px;
         text-decoration: none;
         overflow: hidden;
     }

 }
